.wrap-routes {
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;

    .wrap-loader {
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}